@*<Blazorise.ThemeProvider Theme="@theme"  >*@
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @RouterWithLayout(typeof(MainLayout))
           
        </Authorized>
        <NotAuthorized>
            @RouterWithLayout(typeof(CenteredCardLayout))
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    RenderFragment RouterWithLayout(Type layoutType) => __builder =>
    {
        <Router AppAssembly="@typeof(Program).Assembly" >
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@layoutType" >
                    <NotAuthorized>
                        <Login></Login>
                    </NotAuthorized>
                       <Authorizing>
                       
                       </Authorizing>
                    </AuthorizeRouteView>
               
            </Found>
            <NotFound>
                <PageTitle>Not found</PageTitle>
                <LayoutView Layout="@layoutType">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    };
}



@code {
    //private Theme theme = new()
    //    {

    //        //BarOptions = new()
    //        //{
    //        //    HorizontalHeight = "72px"
    //        //},
    //        //BreakpointOptions = new()
    //        //{
    //        //},

    //        //SpacingOptions = new()
    //        //{
    //        //},
    //        ColorOptions = new()
    //        {
    //            Primary = "#0288D1",
    //            //Secondary = "#A65529",
    //            Success = "#23C02E",
    //            //Info = "#9BD8FE",
    //            //Warning = "#F8B86C",
    //            //Danger = "#F95741",
    //            //Light = "#F0F0F0",
    //            //Dark = "#535353",
    //        },
    //        BackgroundOptions = new()
    //        {
    //            Primary = "#0288D1",
    //        },
    //        //TableOptions=new ThemeTableOptions
    //        //{
    //        //},
    //        TextColorOptions = new()
    //        {
    //        },
    //        ////ButtonOptions = new ThemeButtonOptions { },
    //        ////DropdownOptions = new ThemeDropdownOptions { },
    //        InputOptions = new()
    //        {
    //            CheckColor = "#0288D1",
    //        },
    //        //CardOptions = new ThemeCardOptions { },
    //        //ModalOptions = new ThemeModalOptions { },
    //        //TabsOptions = new ThemeTabsOptions { },
    //        //ProgressOptions = new ThemeProgressOptions { },
    //        //AlertOptions = new ThemeAlertOptions { },
    //        //BreadcrumbOptions = new ThemeBreadcrumbOptions { },
    //        //BadgeOptions = new ThemeBadgeOptions { },
    //        PaginationOptions = new ThemePaginationOptions {  },
    //        //TooltipOptions = new ThemeTooltipOptions
    //        //{
    //        //    BackgroundColor = "#22c8ce",
    //        //   // BackgroundOpacity = .7f,
    //        //    Color = "#ff0000",
    //        //},
    //        TableOptions = new ThemeTableOptions
    //        {

    //        }
    //    };

}